body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  @extend %rubik-400;

  color: #31352B;
  background-color: #F9FAFF;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.link-animation {
  transition: text-shadow 0.3s, color 0.3s, box-shadow 0.3s;
}

.link-animation:hover {
  @extend %accent-color;
}

.link-animation:focus {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
}

.link-animation:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
  color: #31352B;
  box-shadow: none;
}

.btn-animation {
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.btn-animation:hover {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70), 0 5px 12px 0 rgba(255, 104, 56, 0.20);
  background-color: #FFF;
  @extend %accent-color;
}

.btn-animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
  background-color: rgba(255, 122, 80, 0.10);
  @extend %accent-color;
}

.btn-animation:active {
  background-color: rgba(255, 122, 80, 0.10);
  box-shadow: none;
}