body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-size: 20px;
  line-height: 1.5;
  @extend %rubik-400;

  color: $accent-text-color;
  background-color: $body-background-color;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.link-animation {
  transition: text-shadow 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    background: rgba($btn-color, 0.01);
    box-shadow: 0 0 0 2px rgba($accent-color, 0.702);
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
    color: $accent-text-color;
    box-shadow: none;
  }
}

.btn-animation {
  color: $btn-color;
  background-color: $accent-color;
  border-radius: $bord-r;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

  &:hover {
    box-shadow: 0 0 0 2px rgba($accent-color, 0.70), 0 5px 12px 0 rgba(255, 104, 56, 0.20);
    background-color: $btn-color;
    color: $accent-color;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent-color, 0.70);
    background-color: rgba(255, 122, 80, 0.10);
    color: $accent-color;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.10);
    box-shadow: none;
  }
}

.pagination-animation {
  &:hover {
    background-color: $accent-color;
    color: $btn-color;
    border-color: transparent;
  }

  &:hover svg {
    fill: $btn-color;
  }

  &:focus {
    background-color: $accent-catalog-color;
    color: $accent-title-color;
    border-color: $accent-color;
  }

  &:focus svg {
    fill: $accent-title-color;
  }

  &:active {
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
    border-color: transparent;
  }
}

.section {
  padding-bottom: 120px;

  @include mq('tablet-2') {
    padding-bottom: 80px;
  }

  @include mq('tablet') {
    padding-bottom: 40px;
  }
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;

  @include mq('tablet') {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.lock {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.50);
  }
}

.lock-r {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.50);
  }
}

.filter-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: $accent-title-color;
  padding-bottom: 15px;
  border-bottom: 1px solid $box-shadow;
  padding: 15px;
}