$accent-color: #FF6838;
$accent-text-color: #31352B;
$accent-title-color: #363853;
$accent-symbol-color: #c2c2c2;
$bord-r: 6px;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}