$accent-color: #ff6838;
$accent-catalog-color: #FAEDED;
$accent-text-color: #31352b;
$accent-title-color: #363853;
$accent-symbol-color: #c2c2c2;
$body-background-color: #f9faff;
$btn-color: rgb(255, 255, 255);
$box-shadow: #ECECEC;
$bord-r: 6px;
$product-text-color: #505050;
$product-line-color: #E4E4E4;

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}