@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  &__contacts {
    display: none;

    @include mq('tablet-2') {
      display: block;
      padding-left: 15px;
    }
  }

  @include mq('tablet') {
    padding: 10px 0;

  }


}

.logo {
  display: inline-block;
  padding: 7px 0 2px;
  max-height: 100%;
  border-radius: $bord-r;
  border: 2px solid transparent;
  transition: opacity 0.3s, box-shadow 0.3s, color 0.3s;

  &__img {
    max-width: 200px;
    max-height: 40px;

    @include mq('tablet') {
      max-width: 115px;
      max-height: 18px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    background-color: rgba($btn-color, 0.01);
    box-shadow: 0 0 0 2px rgba($accent-color, 0.70);
  }

  &:active {
    opacity: 0.6;
  }

  @include mq('tablet') {
    width: 115px;
    height: 23px;
  }

}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__logo {
    margin-right: auto;
  }
}

.menu-mob {
  display: none;
  z-index: 1;
  position: absolute;
  left: -200%;
  top: 0;
  height: 100vh;
  width: 50%;
  overflow-y: auto;
  background-color: $btn-color;
  transition: left 0.3s;

  &--active {
    left: 0;
  }

  &__logo {
    margin: 25px 0 25px 25px;
    display: inline-block;
    min-width: 200px;
    min-height: 40px;
  }

  .logo__img {
    min-width: 200px;
    min-height: 30px;
  }

  .page-navigation {
    display: block;

    &__list {
      flex-direction: column;
      padding: 25px 0 25px 25px;
      margin: 0 0 15px;
      border-bottom: 1px solid #EEEFF3;
      border-top: 1px solid #EEEFF3;
    }

    &__item:not(:last-child) {
      margin-right: 0;
    }

    &__link {
      display: block;
      padding: 10px 0;
    }
  }

  &__contacts {
    padding-left: 25px;
  }

  &__close {
    position: absolute;
    display: block;
    height: 44px;
    width: 44px;
    right: 25px;
    top: 35px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 44px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $accent-title-color;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    @include mq('tablet') {
      top: 24px;

      &::after,
      &::before {
        width: 25px;
      }
    }
  }

  @include mq('tablet-2') {
    display: block;
  }

  @include mq('tablet') {
    width: 80%;
  }
}

.page-navigation {
  &__logo {
    display: none;
  }

  &--menu {
    margin-right: 63px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    border-radius: $bord-r;
    font-size: 18px;

    &--active {
      color: $accent-color;
    }
  }

  @include mq('tablet-2') {
    display: none;
  }
}

.user-nav {
  display: flex;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: $bord-r;
    border: 2px solid transparent;
    @extend %bg;
    background-size: 20px 20px;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: $accent-color;
    }

    &:hover svg {
      stroke: $btn-color;
    }

    &:hover .user-nav__numb {
      background-color: $btn-color;
      color: $accent-color;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.10);
      box-shadow: 0 0 0 2px rgba($accent-color, 0.70);
    }

    &:active {
      background-color: $btn-color;
      box-shadow: none;
    }

    &:active .user-nav__numb {
      background-color: $accent-color;
      color: $btn-color;
    }

    &:active svg {
      stroke: $accent-title-color;
    }
  }


  &__svg {
    height: 20px;
    width: 20px;
    fill: none;
    stroke: $accent-text-color;
    stroke-width: 1.5;
    transition: stroke 0.3s;
  }

  &__numb {
    position: absolute;
    top: 7px;
    left: 26px;
    padding: 2px 4px;
    line-height: 1;
    font-size: 10px;
    color: $btn-color;
    background-color: $accent-color;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  @include mq('tablet-2') {
    margin-right: 20px;
  }

  @include mq('tablet') {
    margin-right: 0;
  }
}

.burger {
  @include burger (44px, 44px, 2px, $accent-title-color);
  display: none;

  &::before {
    top: 5PX;

    @include mq('tablet') {
      top: 12px;
      width: 30px;
    }
  }

  &::after {
    top: calc(100% - 5PX);

    @include mq('tablet') {
      top: calc(100% - 12px);
      width: 30px;
    }
  }

  &__line {
    @include mq('tablet') {
      width: 30px;
    }
  }

  @include mq('tablet-2') {
    display: block;
    margin: 0 7px 0 3px;
  }

}

.top-screen {
  padding-bottom: 115px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet') {
      max-width: 345px;
      margin-top: 31px;
    }
  }

  &__content {
    max-width: 450px;
    margin-right: 20px;

    @include mq('tablet') {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 66px;
    text-transform: uppercase;
    color: $accent-title-color;
    font-weight: 500;

    @include mq('tablet-2') {
      font-size: 50px;
    }

    @include mq('tablet') {
      font-size: 40px;
    }
  }

  &__subtitle {
    display: block;
    color: $accent-color;
  }

  &__text {
    margin-bottom: 20px;
    @include line-clamp(3);

    @include mq('tablet') {
      font-size: 16px;
    }
  }

  &__order {
    padding: 12px 32px;
    margin-right: 34px;
    font-size: 18px;
    line-height: 1.3;

    @include mq('tablet') {
      padding: 8px 24px;
      margin-right: 30px;
      font-size: 14px;
    }
  }

  &__detailed {
    columns: $accent-title-color;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;

    &:hover,
    &:active,
    &:focus {
      border-bottom: none;
      border-radius: $bord-r;
      padding: 5px 0;
    }

    @include mq('tablet') {
      font-size: 16px;
    }
  }

  &__img {
    height: 680px;
    max-width: 560px;
    width: 100%;
    @extend %bg;

    @include mq('desktop') {
      height: 577px;
      max-width: 490px;
    }

    @include mq('tablet-2') {
      height: 378px;
      max-width: 323px;
    }

    @include mq('tablet') {
      height: 345px;
      max-width: 300px;
      position: absolute;
      top: -35px;
      right: 0;
      z-index: -1;
      opacity: 0.40;
    }
  }

  @include mq('tablet') {
    position: relative;
    padding-bottom: 70px;
  }
}

.popular-categories {
  text-align: center;

  &__title {
    margin-bottom: 60px;

    @include mq('tablet') {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  &__control {
    display: flex;
    padding: 5px;
    overflow-x: auto;
    margin-bottom: 45px;
    min-width: 100%;

    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @include mq('tablet') {
      margin-right: 10px;
    }
  }

  &__btn {
    position: relative;
    padding: 22px 32px 22px 86px;
    line-height: 1.3;
    white-space: nowrap;
    color: $accent-title-color;
    background-color: $btn-color;
    border-radius: $bord-r;
    box-shadow: 0 0 0 1px $box-shadow;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

    & svg {
      position: absolute;
      top: 12px;
      left: 31px;
      width: 44px;
      height: 44px;
      fill: $accent-title-color;
      transition: fill 0.3s;

      @include mq('tablet') {
        width: 20px;
        height: 20px;
        left: 16px;
      }
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.10);
      box-shadow: 0 0 0 2px rgba($accent-color, 0.70);
      color: $accent-color;
    }

    &:hover svg {
      fill: $accent-color;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.70);
    }

    &:active {
      background-color: $btn-color;
      box-shadow: 0 -5px 12px 0 rgba(255, 104, 56, 0.20) inset;
      color: $accent-title-color;
    }

    &:active svg {
      fill: $accent-title-color;
    }

    @include mq('tablet') {
      padding: 12px 16px 12px 41px;
      font-size: 14px;
    }
  }

  .mixitup-control-active {
    background-color: $accent-color;
    color: $btn-color;
  }

  .mixitup-control-active svg {
    fill: $btn-color;
  }

  &__content {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

    @include mq('desktop') {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include mq('tablet') {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 5px;
      margin-bottom: 20px;
    }
  }

  &__content-box {
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 0 1px $accent-color;
    }
  }

  &__more {
    color: $accent-title-color;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: .85;

    &:hover,
    &:active,
    &:focus {
      border-bottom: none;
      border-radius: $bord-r;
      padding: 5px 0;
    }
  }
}

.product-card {
  padding: 20px 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 300px;
  height: 100%;
  box-shadow: 0 0 0 1px $box-shadow;
  background-color: $btn-color;
  border-radius: $bord-r;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 1px $accent-color;
  }

  &__img {
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: auto;
    font-size: 15px;
    font-weight: 400;
    @include line-clamp(2);
  }

  &__price {
    margin: 7px 0;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    color: $accent-title-color;
  }

  &__content-btn {
    padding: 7px 16px;
    font-size: 14px;
    line-height: 1.3;

  }
}

.delivery-info {

  &__wrapper {
    display: flex;
    justify-content: center;

    @include mq('tablet-2') {
      justify-content: left;
    }
  }

  &__img {
    max-width: 440px;
    width: 100%;
    height: 585px;
    @extend %bg;
    margin-right: 120px;

    @include mq('desktop') {
      margin-right: 50px;
    }

    @include mq('tablet-2') {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.4;
      z-index: -1;
    }

    @include mq('tablet') {
      top: 0;
      right: 20px;
      margin-right: 0;
      height: 462px;
      max-width: 348px;
    }
  }

  &__content {
    max-width: 470px;
    padding-top: 60px;

    @include mq('tablet') {
      padding-top: 25px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include mq('tablet') {
      font-size: 24px;
    }
  }

  &__item {
    position: relative;
    display: block;
    font-size: 24px;
    margin-bottom: 22px;
    padding-left: 65px;

    @include mq('tablet') {
      font-size: 18px;
      padding-left: 45px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('tablet-2') {
      font-size: 16px;
      margin-bottom: 35px;
    }
  }

  &__pros {
    margin-bottom: 30px;

    @include mq('tablet') {
      margin-bottom: 20px;
    }
  }

  &__pros-text {
    @include mq('tablet') {
      font-size: 18px;
      margin-bottom: 22px;
      padding-left: 42px;
    }
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 34px;

    &--watch {
      fill: $accent-color;
    }

    &--rider {
      fill: #00AAFF;
    }

    &--shop {
      fill: #FF2222;
    }

    @include mq('tablet') {
      top: -5px;
      left: -2px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 1.3;

    @include mq('tablet-2') {
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      margin-bottom: 25px;
      font-size: 14px;
    }
  }

  @include mq('tablet-2') {
    position: relative;
  }

}

.best-restaurants {
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include mq('tablet-2') {
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('tablet') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @include mq('tablet') {
      padding-bottom: 10px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;

    li {
      button {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid $accent-symbol-color;
        background-color: $accent-symbol-color;
        padding: 0;
        font-size: 0;
        transition: background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: rgba(255, 122, 80, 0.10);
          border-color: $accent-color;
          opacity: 0.6;
        }

        &:active {
          opacity: 0.6;
          background-color: $accent-color;
          border-color: $accent-color;
          box-shadow: none;
        }
      }

      &.slick-active {
        button {
          background-color: $accent-color;
          border-color: $accent-color;
        }
      }
    }
  }
}

.restaurant-card {
  border-radius: 10px;
  background-color: $btn-color;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
  text-align: left;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.50);
  }

  &__img {
    height: 300px;
    width: 370px;
    border-radius: 10px 10px 0 0;

    @include mq('tablet-2') {
      width: 100%;
    }

    @include mq('tablet') {
      height: 400px;
    }

    @include mq('phone') {
      height: 300px;
    }
  }

  &__info {
    padding: 15px 20px 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px;
    @include line-clamp(1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__open {
    margin-right: auto;
    position: relative;
    padding-left: 25px;
  }

  &__time {
    white-space: nowrap;
    margin-right: 20px;
  }

  &__svg-timer {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: 3px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 28px;
    background-color: $accent-color;
    border-radius: 20px;

    &:hover svg {
      fill: $accent-color;
      transform: translateX(20px);
    }

    &:active svg,
    &:focus svg {
      fill: $accent-color;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__svg-arrow {
    width: 24px;
    height: 24px;
    fill: $btn-color;
    transition: transform, fill 0.3s;
  }

  &__text-discount {
    padding: 15px 20px;
    font-size: 24px;
    line-height: 1.3;
  }

  @include mq('tablet-2') {
    max-width: 100%;
    margin: 0 auto;
  }

  @include mq('tablet') {
    height: 520px;
  }

  @include mq('phone') {
    height: auto;
  }

}

.reviews {
  &__title {
    margin: 0 auto 50px;
    width: fit-content;

    @include mq('tablet') {
      margin-bottom: 28px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    @include mq('tablet-2') {
      flex-direction: column;
    }

    @include mq('tablet') {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    @extend %bg;
    margin-right: 80px;

    @include mq('tablet-2') {
      margin: 0 0 30px 0;
    }

    @include mq('phone') {
      max-width: 100px;
      max-height: 100px;
    }
  }

  &__content {
    padding: 0 40px;

    @include mq('tablet') {
      max-width: 470px;
    }
  }

  &__text {
    position: relative;
    font-style: italic;
    max-width: 570px;
    margin-bottom: 30px;

    @include mq('phone') {
      font-size: 14px;
      max-width: 265px;
      margin-bottom: 14px;
    }
  }

  &__braket {
    position: absolute;
    width: 24px;
    height: 20px;
    fill: $accent-symbol-color;

    &--top {
      top: 0;
      left: -40px;

      @include mq('phone') {
        top: -8px;
      }
    }

    &--bootom {
      bottom: 0;
      right: -40px;
      transform: rotateY(180deg);

      @include mq('phone') {
        bottom: 12px;
        right: -30px
      }
    }
  }


  &__user-name {
    display: inline-block;
    font-weight: 500;
    line-height: 1.3;
    color: $accent-color;
    margin-bottom: 15px;

    @include mq('phone') {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__user-desc {
    display: block;
    font-size: 14px;
    line-height: 1.3;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 15px;

    li {
      button {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid $accent-symbol-color;
        background-color: $accent-symbol-color;
        padding: 0;
        font-size: 0;
        transition: background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: rgba(255, 122, 80, 0.10);
          border-color: $accent-color;
          opacity: 0.6;
        }

        &:active {
          opacity: 0.6;
          background-color: $accent-color;
          border-color: $accent-color;
          box-shadow: none;
        }

        @include mq('tablet') {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $accent-color;
          border-color: $accent-color;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: -7px;
    padding: 0;
    font-size: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 4px solid $accent-symbol-color;
    transition: background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s, filter 0.3s;

    &:hover {
      background: rgba(255, 122, 80, 0.10);
      border-color: $accent-color;
      opacity: 0.6;
    }

    &:hover::before {
      filter: invert(64%) sepia(47%) saturate(5801%) hue-rotate(336deg) brightness(101%) contrast(103%);
    }

    &:focus {
      border-color: $accent-color;
    }

    &:focus::before {
      filter: invert(51%) sepia(61%) saturate(2442%) hue-rotate(336deg) brightness(100%) contrast(102%);
    }

    &:active {
      opacity: 1;
      background: rgba(255, 122, 80, 0.10);
      border-color: rgba(255, 122, 80, 0.10);
      box-shadow: none;
    }

    &:active::before {
      filter: invert(64%) sepia(47%) saturate(5801%) hue-rotate(336deg) brightness(101%) contrast(103%);
    }

    @include mq('tablet') {
      width: 54px;
      height: 54px;
      z-index: 1;
    }

    @include mq('phone') {
      width: 40px;
      height: 40px;
    }
  }

  .slick-prev,
  .slick-next {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-prev {
    left: 50%;
    transform: translateX(-100px);

    @include mq('tablet') {
      top: 20%;
      left: 20%;
    }

    @include mq('phone') {
      top: 8%;
      left: 40%;
    }
  }

  .slick-next {
    right: 50%;
    transform: translateX(100px);

    @include mq('tablet') {
      top: 20%;
      right: 20%;
    }

    @include mq('phone') {
      top: 8%;
      right: 40%;
    }
  }

  .slick-prev::before,
  .slick-next::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    @extend %bg;
    background-size: contain;
  }

  .slick-prev::before {
    background-image: url('../images/icon/icon-chevron.svg');
    transform: rotateY(180deg);
  }

  .slick-next::before {
    background-image: url('../images/icon/icon-chevron.svg');
  }

  .slick-disabled {
    border-color: $accent-color;

    &::before {
      filter: invert(64%) sepia(47%) saturate(5801%) hue-rotate(336deg) brightness(101%) contrast(103%);
    }
  }

}

.mobile-app {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet-2') {
      position: relative;
      padding: 80px 0;
    }

    @include mq('tablet') {
      flex-direction: column;
      gap: 20px;
    }

    @include mq('phone') {
      padding: 0;
    }
  }

  &__content {
    max-width: 538px;
    margin-right: 20px;

    @include mq('tablet') {
      margin-right: 0;
    }
  }

  &__title {
    @include mq('phone') {
      margin-bottom: 13px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include mq('phone') {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__img {
    max-width: 570px;
    width: 100%;
    height: 380px;

    @include mq('tablet-2') {
      position: absolute;
      top: 0;
      right: 0;
      opacity: .3;
      z-index: -1;
    }

    @include mq('phone') {
      display: none;
    }
  }

}

.app-links {
  display: flex;
  gap: 30px;

  &__link {
    display: inline-block;
    border: 1px solid $accent-symbol-color;
    border-radius: $bord-r;
    transition: border-color 0.3s;

    &:hover {
      border-color: $accent-color;
    }
  }

  &__img {
    border-radius: $bord-r;
  }
}

.bread-crumbs {
  background-color: $accent-catalog-color;
  margin-bottom: 60px;
  padding: 24px 0;

  &__list {
    display: flex;
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-right: 17px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icon/icon-chevron.svg);
      @extend %bg;
      height: 11px;
      width: 6px;
      top: 11px;
      right: -12px;
      filter: invert(92%) sepia(5%) saturate(0%) hue-rotate(141deg) brightness(88%) contrast(81%);
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    color: #505050;
  }
}

.catalog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__form-selects {
    display: flex;
  }

  &__select:not(:last-child) {
    margin-right: 15px;
  }

  .jq-selectbox__select {
    height: auto;
    padding: 0;
    border: 1px solid $accent-symbol-color;
    border-radius: 3px;
    background: $btn-color;
    font-size: 14px;
    @extend %rubik-400;
    color: $accent-text-color;
    text-shadow: none;
    transition: border-color, color, filter, 0.3s;

    &:hover {
      border-color: $accent-color;
      color: $accent-color;
    }

    &:hover .jq-selectbox__trigger-arrow {
      filter: invert(59%) sepia(42%) saturate(5614%) hue-rotate(337deg) brightness(102%) contrast(101%);
    }

    &:focus {
      color: $accent-text-color;
      border-color: $accent-color;
    }

    &:focus .jq-selectbox__trigger-arrow {
      filter: invert(84%) sepia(0%) saturate(2006%) hue-rotate(210deg) brightness(95%) contrast(88%);
    }
  }

  .jq-selectbox li {
    transition: background-color, color, 0.3s;

    &:hover {
      background-color: $accent-color;
    }

    &:active {
      background-color: $btn-color;
      color: $accent-color;
    }
  }

  .jq-selectbox__select-text {
    padding: 8px 41px 8px 15px;
  }

  .jq-selectbox__trigger {
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
  }

  .jq-selectbox__trigger-arrow {
    position: static;
    width: 6px;
    height: 10px;
    border: none;
    background-image: url(../images/icon/icon-chevron.svg);
    transform: rotate(90deg);
  }

  &__content {
    display: flex;
    margin-bottom: 60px;
  }

  &__filters {
    margin-right: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

}

.filter {
  width: 270px;
  margin-right: 30px;

  &__item {
    padding: 15px 0 25px 0;
    border: 1px solid $box-shadow;
    border-radius: $bord-r;
    width: 270px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__name {
    font-size: 18px;
    border-radius: $bord-r;
    padding: 0 5px 3px;
    transition: box-shadow, color 0.3s;
  }
}

.filter-category {
  &__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: $accent-title-color;
    padding-bottom: 15px;
    border-bottom: 1px solid $box-shadow;
    margin: 0 0 25px 15px;
  }

  &__form:not(:last-child) {
    margin-bottom: 12px;
  }

  &__label {
    display: block;
    cursor: pointer;
    padding-left: 15px;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked~.filter-category__name {
      color: $accent-color;
    }
  }

}

.filter-offer {
  &__form:not(:last-child) {
    margin-bottom: 12px;
  }

  &__label {
    display: flex;
    align-items: stretch;
    cursor: pointer;

    &:hover .filter__name {
      color: $accent-color;
    }

    &:hover .filter-offer__checkbox {
      border-color: $accent-color;
    }

    &:active .filter__name {
      color: $accent-text-color;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked~.filter-offer__checkbox {
      border: 1px solid $accent-title-color;
      background-image: url(../images/icon/icon-check-mark.svg);
      @extend %bg;
      background-size: 12px 9px;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    background-color: $accent-catalog-color;
    border-radius: 3px;
    margin: 0 12px 0 16px;
    transition: border, border-color 0.3s;
  }

}

.filter-price {
  padding-bottom: 0;
  &__form {
    padding: 0 15px;
  }

  &__label {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  &__wrap {
    position: relative;

    &::after {
      content: "₴";
      position: absolute;
      font-size: 16px;
      color: $accent-symbol-color;
      right: -13px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--from::before {
      content: "от";
      position: absolute;
      font-size: 16px;
      color: $accent-symbol-color;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--to::before {
      content: "до";
      position: absolute;
      font-size: 16px;
      color: $accent-symbol-color;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__number {
    border: 1px solid transparent;
    text-align: center;
    padding: 0 5px;
    height: 40px;
    max-width: 70px;
    background-color: $accent-catalog-color;
    font-size: 16px;
    border-radius: 3px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $accent-color;
    }
  }

  .irs--flat .irs-line {
    top: 8px;
    height: 2px;
    background-color: $accent-symbol-color;
  }

  .irs--flat .irs-bar {
    top: 8px;
    height: 2px;
    background-color: $accent-color;
  }

  .irs--flat .irs-handle {
    top: 0px;
    width: 18px;
    height: 18px;
    background-color: $accent-color;
    border-radius: 50%;
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }
}

.discount {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.pagination {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 6px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: $accent-catalog-color;
    transition: background-color, color, border-color, box-shadow, 0.3s;

    &--active {
      border: 1px solid $accent-title-color;
    }

    &--active-arrow .pagination__svg {
      fill: $accent-symbol-color;
    }

    &:hover {
      background-color: $accent-color;
      color: $btn-color;
      border-color: transparent;
    }

    &:hover svg {
      fill: $btn-color;
    }

    &:focus {
      background-color: $accent-catalog-color;
      color: $accent-title-color;
      border-color: $accent-color;
    }

    &:focus svg {
      fill: $accent-title-color;
    }

    &:active {
      box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
      border-color: transparent;
    }
  }

  &__svg {
    width: 14px;
    height: 14px;
    fill: $accent-title-color;
    transition: fill 0.3s;

    &--prev {
      transform: rotate(180deg);
    }
  }
}

.footer {

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    margin-bottom: 70px;

    @include mq('tablet-2') {
      flex-wrap: wrap;
      justify-content: left;
      gap: 50px;
      margin-bottom: 30px;
    }

    @include mq('phone') {
      flex-direction: column;
      gap: 35px;
    }
  }

  &__logo {
    min-width: 200px;
    min-height: 40px;
    margin-bottom: 15px;

    @include mq('phone') {
      padding: 0;
    }
  }

  .logo__img {
    min-width: 200px;
    min-height: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 70px;

    @include mq('desktop') {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 80px;
      margin-right: 40px;
    }

    @include mq('tablet-2') {
      order: 3;
      margin-right: 0;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px 30px;
    }

    @include mq('phone') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__form-subscribe {
    @include mq('tablet-2') {
      margin-right: 0;
    }
  }

  &__item {
    @include line-clamp(1);
  }

  &__link {
    padding: 5px;
    font-size: 18px;
    line-height: 1.3;
    color: $accent-text-color;
    border-radius: $bord-r;

    @include mq('tablet') {
      padding: 5px 0;
    }
  }

  &__bottom {
    text-align: center;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }

  &__bottom-text {
    line-height: 74px;
    font-size: 14px;
  }
}

.form-subscribe {
  max-width: 200px;

  &__list {
    margin-right: 70px;
  }

  &__input {
    display: block;
    padding: 13px 15px;
    margin-bottom: 12px;
    width: 100%;
    max-height: 44px;
    font-size: 14px;
    border-radius: $bord-r;
    border: 1px solid $accent-symbol-color;
    background-color: $btn-color;
    color: $accent-symbol-color;
    transition: box-shadow 0.3s;

    &:hover::placeholder {
      color: $accent-title-color;
      transition: color 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent-color;
      border: none;
    }

    &::placeholder {
      color: $accent-symbol-color;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &__btn {
    position: relative;
    padding: 13px 38px 11px 70px;
    width: 200px;
    font-size: 14px;
    line-height: 1.3;
    @extend %rubik-500;


    &svg {
      transition: fill 0.3s;
    }

    &:hover svg,
    &:focus svg,
    &:active svg {
      fill: $accent-color;
    }
  }

  & svg {
    position: absolute;
    top: 13px;
    left: 37px;
    width: 17px;
    height: 16px;
    fill: $btn-color;
  }

  @include mq('tablet-2') {
    order: 1;
  }
}

.contacts {
  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    position: relative;
    font-size: 16px;
    padding: 5px 0 5px 27px;
    border-radius: $bord-r;
    color: $accent-text-color;
    @include line-clamp(1);

    @include mq('tablet') {
      padding: 13px 0 13px 27px
    }
  }

  &__svg {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 5px;
    fill: none;
    stroke: $accent-text-color;
    transition: stroke 0.3s;

    @include mq('tablet') {
      top: 15px;
    }
  }

  @include mq('tablet-2') {
    order: 2;
  }
}

.social-contacts {
  display: flex;
  gap: 15px;
  margin-top: 15px;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $box-shadow;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    & svg {
      transition: fill 0.3s;
      width: 20px;
      height: 20px;

    }

    &:hover {
      background-color: $accent-color;
    }

    &:hover svg {
      fill: $btn-color;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.10);
      box-shadow: 0 0 0 2px rgba($accent-color, 0.70);
    }

    &:focus svg {
      fill: black;
    }

    &:active {
      box-shadow: none;
    }

    &:active svg {
      fill: $accent-color;
    }
  }
}