.catalog {
  &__bread-crumbs {
    margin-bottom: 60px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;

    @include mq ('phone') {
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }

  &__title {
    margin-bottom: 0;

    @include mq ('tablet') {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }

  &__filter-open {
    display: none;
    background-color: $accent-catalog-color;
    width: 47px;
    height: 47px;
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 3px;

    @include mq ('tablet') {
      display: block;
    }
  }

  &__filter-svg {
    width: 32px;
    height: 36px;
    fill: $accent-color;
  }

  &__form-selects {
    display: flex;
  }

  &__select:not(:last-child) {
    margin-right: 15px;
  }

  .jq-selectbox__select {
    height: auto;
    padding: 0;
    border: 1px solid $accent-symbol-color;
    border-radius: 3px;
    background: $btn-color;
    font-size: 14px;
    @extend %rubik-400;
    color: $accent-text-color;
    text-shadow: none;
    transition: border-color, color, filter, 0.3s;

    &:hover {
      border-color: $accent-color;
      color: $accent-color;
    }

    &:hover .jq-selectbox__trigger-arrow {
      filter: invert(59%) sepia(42%) saturate(5614%) hue-rotate(337deg) brightness(102%) contrast(101%);
    }

    &:focus {
      color: $accent-text-color;
      border-color: $accent-color;
    }

    &:focus .jq-selectbox__trigger-arrow {
      filter: invert(84%) sepia(0%) saturate(2006%) hue-rotate(210deg) brightness(95%) contrast(88%);
    }
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid $accent-color;
  }

  .jq-selectbox li {
    transition: background-color, color, 0.3s;

    &:hover {
      background-color: $accent-color;
    }

    &:active {
      background-color: $btn-color;
      color: $accent-color;
    }
  }

  .jq-selectbox__select-text {
    padding: 8px 41px 8px 15px;
  }

  .jq-selectbox__trigger {
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
  }

  .jq-selectbox__trigger-arrow {
    position: static;
    width: 6px;
    height: 10px;
    border: none;
    background-image: url(../images/icon/icon-chevron.svg);
    transform: rotate(90deg);
  }

  &__content {
    display: flex;
    margin-bottom: 60px;

    @include mq ('tablet-2') {
      justify-content: center;
    }
  }

  &__filters {
    margin-right: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include mq ('tablet-2') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq ('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq ('phone') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item:nth-child(n + 9) {
    @include mq ('tablet-2') {
      display: none;
    }
  }

  &__item:nth-child(n + 7) {
    @include mq ('tablet') {
      display: none;
    }
  }

}