.discount {
  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include mq ('tablet') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  .slick-track {
    display: flex;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;

    li {
      button {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid $accent-symbol-color;
        background-color: $accent-symbol-color;
        padding: 0;
        font-size: 0;
        transition: background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: rgba(255, 122, 80, 0.10);
          border-color: $accent-color;
          opacity: 0.6;
        }

        &:active {
          opacity: 0.6;
          background-color: $accent-color;
          border-color: $accent-color;
          box-shadow: none;
        }
      }

      &.slick-active {
        button {
          background-color: $accent-color;
          border-color: $accent-color;
        }
      }
    }
  }

}