<section class="banner section">

  <div class="banner__top">
    <div class="banner__top-wrap">
      <div class="banner__img" style="background-image: url(images/banner/spring-sale.jpg);"></div>
      <div class="banner__img" style="background-image: url(images/banner/spring-sale.jpg);"></div>
    </div>
    <span class="banner__dates">03.15 - 4.15</span>
  </div>

  <div class="banner__bottum">
    <div class="banner__bottum-wrap">
      <a class="banner__link link-animation" href="#">Buy now</a>
      <img class="banner__arrow-link" src="images/banner/banner-arrow.png" alt="">
    </div>
  </div>

</section>