<section class="banner section">

  <div class="banner__top">
    <div class="banner__top-wrap">
      <div class="banner__img" style="background-image: url(images/banner/spring-sale.jpg);"></div>
      <div class="banner__img" style="background-image: url(images/banner/spring-sale.jpg);"></div>
    </div>
    <span class="banner__dates">03.15 - 4.15</span>
  </div>

  <div class="banner__bottum">

    <a class="banner__link" href="catalog.html">
        <span class="banner__bottum-text">Buy now</span>
        <div class="banner__arrow-wrap">
          <svg class="banner__svg-arrow">
            <use xlink:href="images/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
    </a>

  </div>

</section>