<footer class="footer">
  <div class="container">
    <div class="footer__top">

      <div class="form-subscribe">
        <a class="logo footer__logo" href="index.html">
          <img class="logo__img" src="images/logo.svg" alt="логотип">
        </a>

        <form class="form-subscribe__form">
          <label class="sr-only" for="email">Yor email</label>
          <input class="form-subscribe__input" type="email" placeholder="Ваш email" name="email" id="email">
          <button class="form-subscribe__btn btn-animation" type="submit">
            <svg>
              <use xlink:href="images/sprite.svg#icon-telegram"></use>
            </svg>
            Subscribe</button>
        </form>
      </div>

      <address class="contacts footer__contacts" id="contacts">
        <ul class="contacts__list">
          <li class="contacts__item ">
            <a class="contacts__link contacts__link--adress link-animation" href="#">
              <svg class="contacts__svg">
                <use xlink:href="images/sprite.svg#icon-location"></use>
              </svg>
              2875 St.Clair Ave Est</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link contacts__link--tel link-animation" href="tel:4165039081">
              <svg class="contacts__svg">
                <use xlink:href="images/sprite.svg#icon-call"></use>
              </svg>
              416-503-9081</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link contacts__link--mail link-animation" href="mailto:support@julysflowers.com">
              <svg class="contacts__svg">
                <use xlink:href="images/sprite.svg#icon-message"></use>
              </svg>
              support@julysflowers.com</a>
          </li>
        </ul>

        <ul class="social-contacts">
          <li class="social-contacts__item">
            <a class="social-contacts__link" href="#" target="_blank" rel="noreferrer noopener">
              <svg>
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only">link to facebook</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a class="social-contacts__link" href="#" target="_blank" rel="noreferrer noopener">
              <svg>
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only">twitter link</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a class="social-contacts__link" href="#" target="_blank" rel="noreferrer noopener">
              <svg>
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">link to instagram</span>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <div class="footer__bottom">
    <span class="footer__bottom-text">
      © 2022 July’s Flowers
    </span>
  </div>

</footer>