<div class="menu-mob">
  <a class="logo menu-mob__logo" href="#">
    <img class="logo__img" src="images/logo.svg" alt="логотип">
  </a>

  <div class="page-navigation menu-mob__page-navigation">
    <ul class="page-navigation__list page-navigation__list--menu">
      <li class="page-navigation__item">
        <a class="page-navigation__link link-animation" href="index.html">Main</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link link-animation" href="catalog.html">Gallery</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link link-animation" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>

  <address class="contacts menu-mob__contacts">
    <ul class="contacts__list">
      <li class="contacts__item ">
        <a class="contacts__link contacts__link--adress link-animation" href="#">
          <svg class="contacts__svg">
            <use xlink:href="images/sprite.svg#icon-location"></use>
          </svg>
          2875 St.Clair Ave Est</a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link contacts__link--tel link-animation" href="tel:4165039081">
          <svg class="contacts__svg">
            <use xlink:href="images/sprite.svg#icon-call"></use>
          </svg>
          416-503-9081</a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link contacts__link--mail link-animation" href="mailto:support@julysflowers.com">
          <svg class="contacts__svg">
            <use xlink:href="images/sprite.svg#icon-message"></use>
          </svg>
          support@julysflowers.com</a>
      </li>
    </ul>

    <ul class="social-contacts menu-mob__social-contacts">
      <li class="social-contacts__item">
        <a class="social-contacts__link" href="#" target="_blank" rel="noreferrer noopener">
          <svg>
            <use xlink:href="images/sprite.svg#icon-facebook"></use>
          </svg>
          <span class="sr-only">link to facebook</span>
        </a>
      </li>
      <li class="socia-contacts__item">
        <a class="social-contacts__link" href="#" target="_blank" rel="noreferrer noopener">
          <svg>
            <use xlink:href="images/sprite.svg#icon-twitter"></use>
          </svg>
          <span class="sr-only">twitter link</span>
        </a>
      </li>
      <li class="social-contacts__item">
        <a class="social-contacts__link" href="#" target="_blank" rel="noreferrer noopener">
          <svg>
            <use xlink:href="images/sprite.svg#icon-instagram"></use>
          </svg>
          <span class="sr-only">link to instagram</span>
        </a>
      </li>
    </ul>
  </address>

  <button class="menu-mob__close" type="button">
    <span class="sr-only">Close menu</span>
  </button>
</div>