.banner {
  padding: 0;
  background-color: #FDEFF4;
  overflow: hidden;
  max-width: 100%;


  &__top {
    height: 40vh;
    position: relative;

    @include mq ('tablet') {
      height: 15vh;
    }
  }

  &__top-wrap {
    height: 100%;
    display: flex;
    width: 200%;
    animation-name: banner;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__img {
    height: 100%;
    width: 100%;
    @extend %bg;
  }

  @keyframes banner {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  &__dates {
    font-size: 45px;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;

    @include mq ('tablet') {
      font-size: 25px;
    }
  }

  &__bottum {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    background-color: $accent-color-second;

    @include mq ('tablet') {
      height: 5vh;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;

    &:hover .banner__bottum-text {
      color: $accent-color;
    }

    &:hover .banner__svg-arrow {
      fill: $btn-color;
    }

    &:hover .banner__arrow-wrap {
      background-color: $accent-color;
    }

    &:active {
      opacity: 0.4;
    }

  }

  &__bottum-text {
    display: block;
    font-size: 36px;
    color: $btn-color;
    transition: color 0.3s;

    @include mq ('tablet') {
      font-size: 25px;
    }
  }

  &__arrow-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: $btn-color;
    border-radius: 50%;
    transition: background-color 0.3s;

    @include mq ('tablet') {
      height: 30px;
      width: 30px;
    }
  }

  &__svg-arrow {
    height: 40px;
    width: 40px;
    fill: $accent-color-second;
    transition: fill 0.3s;
  }
}