.burger {
  @include burger (44px, 44px, 2px, $accent-title-color);
  display: none;

  &::before {
    top: 5PX;

    @include mq('tablet') {
      top: 12px;
      width: 30px;
    }
  }

  &::after {
    top: calc(100% - 5PX);

    @include mq('tablet') {
      top: calc(100% - 12px);
      width: 30px;
    }
  }

  &__line {
    @include mq('tablet') {
      width: 30px;
    }
  }

  @include mq('tablet-2') {
    display: block;
    margin: 0 7px 0 3px;
  }

}