.footer {
  padding-top: 55px;

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    margin-bottom: 70px;

    @include mq('tablet-2') {
      flex-wrap: wrap;
      justify-content: left;
      gap: 50px;
      margin-bottom: 30px;
    }

    @include mq('phone') {
      flex-direction: column;
      gap: 35px;
    }
  }

  &__logo {
    width: 200px;
    height: 40px;
    margin-bottom: 15px;

    @include mq('phone') {
      padding: 0;
    }
  }

  .logo__img {
    width: 200px;
    height: 30px;
  }

  &__form-subscribe {
    @include mq('tablet-2') {
      margin-right: 0;
    }
  }

  &__bottom {
    text-align: center;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }

  &__bottom-text {
    line-height: 74px;
    font-size: 14px;
  }
}