.header {
  padding-top: 160px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  &__contacts {
    display: none;

    @include mq('tablet-2') {
      display: block;
      padding-left: 15px;
    }
  }

  @include mq('tablet') {
    padding-top: 91px;

  }

  &__wrapper {
    display: block;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 997;
    padding: 60px 0;
    transition: padding 0.4s;

    @include mq('tablet') {
      padding: 24px 0;

    }

    &--fixed {
      padding: 20px 0;
      background-color: $accent-catalog-color;
    }
  }

}