.header {
  display: flex;
  align-items: center;
  padding-top: 92px;
  background-color: $accent-color-second;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  &__contacts {
    display: none;

    @include mq('tablet-2') {
      display: block;
      padding-left: 15px;
    }
  }

  @include mq('tablet') {
    padding-top: 91px;

  }

  &__wrapper {
    display: block;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    padding: 10px 0;
    
    @include mq('tablet') {
      padding: 24px 0;
    }

    &--fixed {
      transition: padding 0.4s, background-color 0.4s, box-shadow 0.4s;
      padding: 10px 0;
      background-color: rgba($accent-color-second, 0.9);
      box-shadow: 0px 20px 40px 0px rgba($accent-color-second, 0.8);
    }
  }

}