<section class="best-restaurants section">
  <div class="container">
    <h2 class="title">Лучшие рестораны</h2>

    <ul class="best-restaurants__list">
      <li class="best-restaurants__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/blaze-pizza.jpg" width="370" height="300"
            alt="фото пиццы из этого ресторана" class="restaurant-card__img">

          <div class="restaurant-card__info">
            <h3 class="restaurant-card__title">Blaze Pizza</h3>

            <div class="restaurant-card__inner">
              <div class="restaurant-card__open">
                <svg class="restaurant-card__svg-timer">
                  <use xlink:href="images/sprite.svg#icon-timer"></use>
                </svg>
                <span class="restaurant-card__time">11:00 - 22:00</span>
              </div>
              <a class="restaurant-card__btn btn-animation" href="#">
                <svg class="restaurant-card__svg-arrow">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
                <span class="sr-only">открыть страницу ресторана</span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="best-restaurants__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/pizza-runcho.jpg" width="370" height="300"
            alt="фото пиццы из этого ресторана" class="restaurant-card__img">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__title">Pizza Runcho</h3>

            <div class="restaurant-card__inner">
              <div class="restaurant-card__open">
                <svg class="restaurant-card__svg-timer">
                  <use xlink:href="images/sprite.svg#icon-timer"></use>
                </svg>
                <span class="restaurant-card__time">12:00 - 21:00</span>
              </div>
              <a class="restaurant-card__btn btn-animation" href="#">
                <svg class="restaurant-card__svg-arrow">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
                <span class="sr-only">открыть страницу ресторана</span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="best-restaurants__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/pizza-hut.jpg" width="370" height="300" alt="фото пиццы из этого ресторана"
            class="restaurant-card__img">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__title">Pizza Hut</h3>

            <div class="restaurant-card__inner">
              <div class="restaurant-card__open">
                <svg class="restaurant-card__svg-timer">
                  <use xlink:href="images/sprite.svg#icon-timer"></use>
                </svg>
                <span class="restaurant-card__time">11:00 - 22:00</span>
              </div>
              <a class="restaurant-card__btn btn-animation" href="#">
                <svg class="restaurant-card__svg-arrow">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
                <span class="sr-only">открыть страницу ресторана</span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="best-restaurants__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/mcdonalds.jpg" width="370" height="300" alt="фото пиццы из этого ресторана"
            class="restaurant-card__img">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__title">McDonald`s</h3>

            <div class="restaurant-card__inner">
              <div class="restaurant-card__open">
                <svg class="restaurant-card__svg-timer">
                  <use xlink:href="images/sprite.svg#icon-timer"></use>
                </svg>
                <span class="restaurant-card__time">06:00 - 23:00</span>
              </div>
              <a class="restaurant-card__btn btn-animation" href="#">
                <svg class="restaurant-card__svg-arrow">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
                <span class="sr-only">открыть страницу ресторана</span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="best-restaurants__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/kfc.jpg" width="370" height="300" alt="фото пиццы из этого ресторана"
            class="restaurant-card__img">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__title">KFC</h3>

            <div class="restaurant-card__inner">
              <div class="restaurant-card__open">
                <svg class="restaurant-card__svg-timer">
                  <use xlink:href="images/sprite.svg#icon-timer"></use>
                </svg>
                <span class="restaurant-card__time">06:00 - 23:00</span>
              </div>
              <a class="restaurant-card__btn btn-animation" href="#">
                <svg class="restaurant-card__svg-arrow">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
                <span class="sr-only">открыть страницу ресторана</span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="best-restaurants__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/star-burgers.jpg" width="370" height="300"
            alt="фото пиццы из этого ресторана" class="restaurant-card__img">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__title">Star Burgers</h3>

            <div class="restaurant-card__inner">
              <div class="restaurant-card__open">
                <svg class="restaurant-card__svg-timer">
                  <use xlink:href="images/sprite.svg#icon-timer"></use>
                </svg>
                <span class="restaurant-card__time">09:00 - 21:00</span>
              </div>
              <a class="restaurant-card__btn btn-animation" href="#">
                <svg class="restaurant-card__svg-arrow">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
                <span class="sr-only">открыть страницу ресторана</span>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>


  </div>
</section>