<section class="discount section">
  <div class="container">
    <h2 class="title">Акции и скидки</h2>
    <ul class="discount__wrap">
      <li class="discount__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/blaze-pizza.jpg" width="370" height="300"
            alt="фото пиццы из этого ресторана" class="restaurant-card__img">
          <p class="restaurant-card__text-discount">
            Скидка 50% на вторую пиццу
          </p>
        </article>
      </li>

      <li class="discount__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/kfc.jpg" width="370" height="300" alt="фото пиццы из этого ресторана"
            class="restaurant-card__img">
          <p class="restaurant-card__text-discount">
            Картошечка из KFC даром при заказе бургера
          </p>
        </article>
      </li>

      <li class="discount__item">
        <article class="restaurant-card">
          <img src="images/best-restaurants/star-burgers.jpg" width="370" height="300"
            alt="фото пиццы из этого ресторана" class="restaurant-card__img">
          <p class="restaurant-card__text-discount">
            Чёрные бургеры на чёрный день
          </p>
        </article>
      </li>

    </ul>
  </div>
</section>