<header class="header" id="header">
  <div class="header__wrapper">
    <div class="container">
      <div class="header__inner">

        <nav class="menu">
          <a class="logo menu__logo" href="index.html">
            <img class="logo__img logo__img--menu" src="images/logo.svg" alt="логотип" width="200" height="30">
          </a>
          
          <div class="page-navigation">
            <ul class="page-navigation__list page-navigation__list--menu">
              <li class="page-navigation__item">
                <a class="page-navigation__link link-animation @if (context.page === 'home') {page-navigation__link--active}"
                  href="index.html" id="home">Main</a>
              </li>
              <li class="page-navigation__item">
                <a class="page-navigation__link link-animation @if (context.page === 'catalog') {page-navigation__link--active}"
                  href="catalog.html" id="catalog">Gallery</a>
              </li>
              <li class="page-navigation__item">
                <a class="page-navigation__link link-animation @if (context.page === 'contacts') {page-navigation__link--active}"
                  href="#contacts">Contacts</a>
              </li>
            </ul>
          </div>

          <ul class="user-nav">
            <li class="user-nav__item">
              <button class="user-nav__btn" type="button">
                <svg class="user-nav__svg">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
                <span class="sr-only">button open search</span>
              </button>
            </li>
            <li class="user-nav__item">
              <a class="user-nav__btn" href="cart.html">
                <svg class="user-nav__svg">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="sr-only">open cart button</span>
                <span class="user-nav__numb">0</span>
              </a>
            </li>
          </ul>

          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Open menu</span>
          </button>

        </nav>
      </div>
    </div>
  </div>
</header>

  