<section class="mobile-app section">
  <div class="container">
    <div class="mobile-app__wrap">
      <div class="mobile-app__content">
        <h2 class="mobile-app__title  title ">Скачайте мобильное приложение</h2>

        <p class="mobile-app__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <ul class="app-links">
          <li class="app-links__item">
            <a href="#" class="app-links__link">
              <img class="app-links__img" width="120" height="40" src="images/mobaile-app/app-store.jpg"
                alt="ссылка на мобильное приложение в app store, ">
            </a>
          </li>

          <li class="app-links__item">
            <a href="#" class="app-links__link">
              <img class="app-links__img" width="135" height="40" src="images/mobaile-app/google-glay.jpg"
                alt="ссылка на мобильное приложение  в google glay">
            </a>
          </li>
        </ul>
      </div>

      <div class="mobile-app__img" style="background-image: url('images/mobaile-app/mobile-app.jpg');">
        <span class="sr-only">картинка на которой изображен процес оформления заказа</span>
      </div>

    </div>
  </div>
</section>