.delivery-info {

  &__wrapper {
    display: flex;
    justify-content: center;

    @include mq('tablet-2') {
      justify-content: left;
    }
  }

  &__img {
    max-width: 440px;
    width: 100%;
    height: 585px;
    @extend %bg;
    margin-right: 120px;

    @include mq('desktop') {
      margin-right: 50px;
    }

    @include mq('tablet-2') {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.4;
      z-index: -1;
    }

    @include mq('tablet') {
      top: 0;
      right: 20px;
      margin-right: 0;
      height: 462px;
      max-width: 348px;
    }
  }

  &__content {
    max-width: 470px;
    padding-top: 60px;

    @include mq('tablet') {
      padding-top: 25px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include mq('tablet') {
      font-size: 24px;
    }
  }

  &__item {
    position: relative;
    display: block;
    font-size: 24px;
    margin-bottom: 22px;
    padding-left: 65px;

    @include mq('tablet') {
      font-size: 18px;
      padding-left: 45px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('tablet-2') {
      font-size: 16px;
      margin-bottom: 35px;
    }
  }

  &__pros {
    margin-bottom: 30px;

    @include mq('tablet') {
      margin-bottom: 20px;
    }
  }

  &__pros-text {
    @include mq('tablet') {
      font-size: 18px;
      margin-bottom: 22px;
      padding-left: 42px;
    }
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 34px;

    &--watch {
      fill: $accent-color;
    }

    &--rider {
      fill: #00AAFF;
    }

    &--shop {
      fill: #FF2222;
    }

    @include mq('tablet') {
      top: -5px;
      left: -2px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 1.3;

    @include mq('tablet-2') {
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      margin-bottom: 25px;
      font-size: 14px;
    }
  }

  @include mq('tablet-2') {
    position: relative;
  }

}